{% extends 'layout.html.twig' %}

{% block act1 %}active{% endblock %}

{% block titulo %}
Agregar aula
{% endblock %}

{% block body %}

{{ form_start(form,{'attr':{'role':'form'}}) }}
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.nombre,'Nombre')}}
        {{ form_widget(form.nombre,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.descripcion,'Descripcion')}}
        {{ form_widget(form.descripcion,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.edificio,'Edificio')}}
        {{ form_widget(form.edificio,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.encargado,'Encargado')}}
        {{ form_widget(form.encargado,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="text-center">
  <input type="submit" class="btn btn-info btn-fill btn-wd"  value="Guardar">
</div>

    {{ form_end(form) }}

    <ul>
            <a class="btn" href="{{ path('aula_index') }}">Regresar</a>
    </ul>
{% endblock %}
