{% extends 'layout.html.twig' %}

{% block act2 %}active{% endblock %}

{% block titulo %}
Agregar profesor
{% endblock %}

{% block body %}
{{ form_start(form,{'attr':{'role':'form'}}) }}
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.nombre,'Nombre')}}
        {{ form_widget(form.nombre,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.apellidos,'Apellidos')}}
        {{ form_widget(form.apellidos,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.edad,'Edad')}}
        {{ form_widget(form.edad,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.fechaNacimiento,'Fecha de nacimiento')}}
        {{ form_widget(form.fechaNacimiento,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.telefono,'Telefono')}}
        {{ form_widget(form.telefono,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.direccion,'Direccion')}}
        {{ form_widget(form.direccion,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.email,'Email')}}
        {{ form_widget(form.email,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
        {{form_label(form.profesion,'Profesion')}}
        {{ form_widget(form.profesion,{'attr':{'class' : 'form-control border-input'}}) }}
      </div>
  </div>
</div>
<div class="text-center">
  <input type="submit" class="btn btn-info btn-fill btn-wd"  value="Guardar">
</div>

    {{ form_end(form) }}

    <ul>
            <a class="btn" href="{{ path('profesores_index') }}">Regresar</a>
    </ul>

{% endblock %}
